/* 
    BUA Assassins main stylesheet

    This controls the styling across the entire website including, colors, border radius and fonts.
    The the items beginning with -- under Variables and Color themes control styling 
    (do not change the styling in individual elements unless necessary)
*/

/* Variables */
:root {
    /* Colors */
    --bg: #ffffff;
    --mg: #efefef;
    --fg: #d3d3d3;
    --text: #333333;
}

/* Color themes */
@media (prefers-color-scheme: dark) {
    :root {
        /* Colors */
        --bg: #3e3e3e;
        --mg: #2f2f2f;
        --fg: #e3e3e3;

        --text: #ffffff;
        --text-fg: #333333;

        --accent: #e31f8e;
        --accent-dark: #c41c7b;

        /* Color varients */
        --fg-dark: #dedede;

        /* Borders */
        --br-small: 6px;
        --br-med: 8px;
        --br-large: 16px;

        /* Spacing */
        --padding-sm: 6px;
        --padding-med: 8px;
        --padding-large: 16px;

        /* Fonts */
        --font: sans-serif;
    }
}

/* Backgrounds and document flow */
html {
    display: block;

    width: 100vw;
    height: 100vh;

    padding: 0px;
    margin: 0px;
}

body {
    background: var(--bg);
    color: var(--text);

    font-family: var(--font);

    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

/* Interactive elements */
button {
    background: var(--fg);
    color: var(--text-fg);

    border: none;
    border-radius: var(--br-small);

    padding: var(--padding-sm);

    font-family: var(--font);
}

button:hover {
    background: var(--fg-dark);

    cursor: pointer;
}

input {
    background: var(--fg);
    color: var(--text-fg);

    border: none;
    border-radius: var(--br-small);

    padding: var(--padding-sm);

    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--accent);

    font-family: var(--font);
}

a:hover {
    color: var(--accent-dark);
}

form.login {
    position: absolute;
    display: flex;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    flex-direction: column;

    align-items: center;

    gap: 10px;

    width: 25%;
}

form.login input {
    width: 95%;
    aspect-ratio: 12;
    
    border-radius: var(--br-med);

    font-size: 100%;
}

form.login button {
    width: 35%;
    aspect-ratio: 4;

    border-radius: var(--br-med);

    background: var(--accent);
}

form.login button:hover {
    background: var(--accent-dark);
}

form.login .divider {
    font-size: 11px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

form.login .divider::before {
    content: "";
    width: 25%;
    height: 1px;
    background: white;

    position: relative;
    top: 0px;
    left: -15px;

    display: block;
}

form.login .divider::after {
    content: "";
    width: 25%;
    height: 1px;
    background: white;

    position: relative;
    top: 0px;
    left: 15px;

    display: block;
}

form.login p {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

form.login h3 {
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}