/* Interactive elements */
button {
    background: var(--fg);
    color: var(--text-fg);

    border: none;
    border-radius: var(--br-small);

    padding: var(--padding-sm);

    font-family: var(--font);
}

button:hover {
    background: var(--fg-dark);

    cursor: pointer;
}

input {
    background: var(--fg);
    color: var(--text-fg);

    border: none;
    border-radius: var(--br-small);

    padding: var(--padding-sm);

    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--accent);

    font-family: var(--font);

    display: flex;
    align-items: center;
    flex-direction:column;
}

a:hover {
    color: var(--accent-dark);
}

a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    transform: translateY(2.5px);
    background: var(--accent);
    transition: width ease-in-out 150ms;
}

a:hover::after {
    width: 100%;
    background: var(--accent-dark);
}

.card {
    display: flex;
    background-color: var(--mg);
    padding: var(--padding-sm);

    flex-direction: column;

    align-items: flex-start;
    gap: 0;

    margin-top: var(--padding-large);
    position: relative;

    overflow-wrap: anywhere;
}

.card p {
    display: flex;
    margin: 0px;
    margin-left: var(--padding-sm);
    margin-top: var(--padding-sm);
    padding: 0px;
}

.usercard .delete {
    top: 10px;
    right: 10px;
    width: 28;
    aspect-ratio: 1;
    border-radius: var(--br-small);
    background: var(--fg);
    transition-duration: 125ms;

    display: block;
    position: absolute;

    overflow: hidden;
}

.usercard .delete:hover {
    background: var(--accent);
    transform: scale(1.1) rotate(4deg);
}

.usercard .delete svg * {
    fill: #dfdfdf;
}

.usercard .delete:hover svg * {
    fill: black;
}


.usercard .promote {
    bottom: 10px;
    right: 10px;
    width: 28;
    aspect-ratio: 1;
    border-radius: var(--br-small);
    background: var(--fg);
    transition-duration: 125ms;

    display: block;
    position: absolute;

    overflow: hidden;
}

.usercard .promote:hover {
    background: var(--accent-blue);
    transform: scale(1.1) rotate(4deg);
}

.usercard .promote svg * {
    fill: #dfdfdf;
}

.usercard .promote:hover svg * {
    fill: black;
}


.usercard .demote {
    bottom: 10px;
    right: 10px;
    width: 28;
    aspect-ratio: 1;
    border-radius: var(--br-small);
    background: var(--fg);
    transition-duration: 125ms;

    display: block;
    position: absolute;

    overflow: hidden;
}

.usercard .demote:hover {
    background: var(--accent-blue);
    transform: scale(1.1) rotate(4deg);
}

.usercard .demote svg {
    transform: rotate(180deg);
}

.usercard .demote svg * {
    fill: #dfdfdf;
}

.usercard .demote:hover svg * {
    fill: black;
}